
<div class="main-content">
    <div class="container-fluid">
      <!-- <button mat-raised-button color="primary" (click)="openAddEventDialog()">Thêm Sự Kiện</button> -->
      <full-calendar
      [options]="calendarOptions"
      [events]="eventsPromise | async"
      
     (eventClick)="handleEventClick($event)"
     (eventDrop)="handleEventDrop($event)"
     (eventDragStop)="handleEventDragStop($event)"
    ></full-calendar>

    </div>
  </div>
  
  <ng-template #dialogTemplateScheduleForm >
    <mat-card    class="edit-form-card">
    <form [formGroup]="schedule_infor_form" >
    <mat-dialog-content class="mat-typography">
      <h2 style="text-align: center;">Thông tin buổi học</h2>
      <h3><b>Tên khóa học : </b>{{schedule_infor.name}}</h3>
      <h3><b>Lĩnh vực : </b>{{schedule_infor.specialized_name}}</h3>
      <h3><b>Phòng : </b>{{schedule_infor.room_name}}</h3>
      <h3><b>Giảng viên đứng lớp : </b>{{schedule_infor.teacher_name}}</h3>
      <h3><b>Thời gian vào lớp: </b>{{schedule_infor.time_start}}</h3>
      <h3><b>Tiền trả cho giảng viên : </b>{{schedule_infor.hourly_rate}}</h3>
     
      <mat-form-field>
        <mat-label>Giảng viên</mat-label>
        <mat-select (selectionChange)="onSelectTeacher($event)" [formControl]="schedule_infor_form.get('selectedOption')">
          <mat-option [value]="null">Chọn giáo viên</mat-option>
          <ng-container *ngFor="let listteacheritem of listteacher">
 
              <mat-option  [value]="listteacheritem.teacher_id" >
                {{ listteacheritem.teacher_name  }} 
              </mat-option>
   
         
          </ng-container>
        </mat-select>
      </mat-form-field>
     
      <div class="edit-form-buttons">
        <button mat-raised-button color="primary" type="submit" (click)="edit_schedule()">Save</button>
        <button mat-button color="warn" (click)="canclescheduleform()" >Cancel</button>
      </div>
    </mat-dialog-content>
    </form>
   
  </mat-card>
</ng-template>