<!-- <div *ngIf="images && images.length > 0" class="carousel-container">
    <img *ngFor="let image of images;let i=index" 
    [src]="image.imageSrc"
    [alt]="image.Alt" 
    [ngClass]="{'image-active':selectedIndex==i}"
    class="fade">

    <div  *ngIf="indicators" class="carousel-dot-container" >  
        <span *ngFor="let dit of images;let i=index" 
        class="dot"
        [ngClass]="{'active':selectedIndex===i}"
        (click)="selectImage(i)"
        >
    </span>
    </div>

    <div *ngIf="controls" class="btn-carousel btn-prev">
        <i class="fas fa-arrow-circle-left icon-carousel icon-prev"></i>
    </div>
  </div>

 -->
<!-- <div class="slider-container">
    <div 
        class="slider-item" 
        *ngFor="let image of images;let i=index" 
        [ngClass]="
        {
            'selected':i===selectedIndex,
            'prev':i===selectedIndex-1,
            'next':i===selectedIndex+1,
            'hideLeft':i<selectedIndex-1,
            'hideRight':i>selectedIndex+1,

        }"
    >
        <img 
            [src]="image.imgSrc" 
            [alt]="image.imgAlt" 
            class="slider-img"
        >
    </div>
</div> -->


  
  
  