<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">school</i>
                      </div>
                      <p class="card-category">Tổng khóa học đã mở</p>
                      <h3 class="card-title">{{this.total_course.count}}
                          <small>Khóa</small>
                      </h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <!-- <i class="material-icons text-danger">warning</i> -->
                          <!-- <a href="javascript:void(0)">Get More Space...</a> -->
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-success card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons"> monetization_on </i>
                      </div>
                      <p class="card-category">Doanh thu</p>
                      <h3 class="card-title">{{this.total_revenue.sum|number:'1.0-0'}} VNĐ</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <!-- <i class="material-icons">date_range</i> Last 24 Hours -->
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-danger card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">account_circle </i>
                      </div>
                      <p class="card-category">Giảng viên</p>
                      <h3 class="card-title">{{this.total_teacher.count}} <small>Giảng viên</small></h3>
                     
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <!-- <i class="material-icons">local_offer</i> Tracked from Github -->
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-info card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">group</i>
                      </div>
                      <p class="card-category">Học viên</p>
                      <h3 class="card-title">{{this.total_student.count}}    <small>Học viên</small></h3>
                  
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <!-- <i class="material-icons">update</i> Just Updated -->
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- <div class="row">
          <div class="col-md-12">
              <div class="card card-chart">
                  <div class="card-header card-header-success">
                      <div class="ct-chart" id="dailySalesChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Doanh thu </h4>
                      <p class="card-category">
                          <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today sales.</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> updated 4 minutes ago
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-12">
              <div class="card card-chart">
                  <div class="card-header card-header-warning">
                      <div class="ct-chart" id="websiteViewsChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Email Subscriptions</h4>
                      <p class="card-category">Last Campaign Performance</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> campaign sent 2 days ago
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-12">
              <div class="card card-chart">
                  <div class="card-header card-header-danger">
                      <div class="ct-chart" id="completedTasksChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Completed Tasks</h4>
                      <p class="card-category">Last Campaign Performance</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> campaign sent 2 days ago
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-12">

            <div class="card card-chart">
                <div class="card-header card-header-danger">
                <div class="ct-chart" id="completedTasksChart"></div>
                </div>
                <div class="card-body">
                <h4 class="card-title">Completed Tasks</h4>
                <p class="card-category">Last Campaign Performance</p>
                </div>
                <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">access_time</i> campaign sent 2 days ago
                </div>
                </div>
            </div>
  
        </div>
      </div>
    -->
    <h1 style="text-align: center;"><b>Doanh thu </b></h1>
    <div class="row">
        <div class="col-md-12">
            <ngx-charts-bar-vertical
            [view]="view"
            [scheme]="colorScheme"
            [results]="barChartData"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="xAxisLabel"
            [showYAxisLabel]="yAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel">
    </ngx-charts-bar-vertical>
        </div>
    </div>


    <h1 style="text-align: center;"><b>Chi phí phải trả cho giảng viên</b></h1>
    <div class="row">
        <div class="col-md-12">
            <ngx-charts-bar-vertical
                [view]="view"
                [scheme]="colorSchemeexpense"
                [results]="single"
                [gradient]="gradientexpense"
                [xAxis]="showXAxisexpense"
                [yAxis]="showYAxisexpense"
                [legend]="showLegendexpense"
                [showXAxisLabel]="xAxisLabelexpense"
                [showYAxisLabel]="yAxisLabelexpense"
                [xAxisLabel]="xAxisLabelexpense"
                [yAxisLabel]="yAxisLabelexpense">
            </ngx-charts-bar-vertical>
        </div>
    </div>

  </div>
</div>
