
  <div class="main-content">
    <div class="container-fluid">
      <!-- <button mat-raised-button color="primary" (click)="openAddEventDialog()">Thêm Sự Kiện</button> -->
      <!-- <full-calendar
      [options]="calendarOptions"
      [events]="eventsPromise | async"
      
    ></full-calendar> -->
    <!-- HTML -->
    <ngx-charts-bar-vertical-2d
      [results]="barChartData"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [showXAxisLabel]="xAxisLabel"
      [showYAxisLabel]="yAxisLabel">
    </ngx-charts-bar-vertical-2d>

    </div>
  </div>
  